PORT=3000
HOST=localhost

# Database
DATABASE_PORT=5432
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contraseña
POSTGRES_DB=nombre_base_datos

# AWS 
AWS_REGION=tu_region
AWS_ACCESS_KEY_ID=tu_access_key_id
AWS_SECRET_ACCESS_KEY=tu_secret_access_key
AWS_ENDPOINT=http://localhost:4566

# AWS S3
AWS_BUCKET_NAME=nombre_bucket

# AWS Cognito
AWS_COGNITO_USER_POOL_ID=region_pool_id
AWS_COGNITO_CLIENT_ID=client_id_ejemplo